# Alamat IP yang digunakan untuk hosting. Gunakan 0.0.0.0 untuk membuat server
# dapat diakses di semua alamat
HOST="0.0.0.0"

# Port untuk menjalankan server
PORT="8080"

# Domain (dan subdomain) yang digunakan untuk hosting/menjalankan server
ALLOWED_HOSTS="example.com"

# Environment server (development, production, atau staging)
VITE_ENV="development"

# URL backend
VITE_API_BASE_URL="http://localhost:3000"
