@custom-variant dark (&:is(.dark *));

/* Mode gelap */
.dark {
    /* Warna berdasarkan fungsi */
    --background: var(--darker-black);
    --foreground: var(--white);
    --primary: var(--purple);
    --primary-contrast: var(--teal);
    --surface: var(--color-neutral-800);
    --surface-subtle: var(--dark-black);
    --overlay-sm: rgba(255, 255, 255, 8%);
    --overlay-md: rgba(255, 255, 255, 15%);
}
