@custom-variant dark (&:is(.dark *));

/* Mode gelap */
.dark {
    /* Warna berdasarkan fungsi */
    --background: var(--darker-black);
    --foreground: var(--white);
    --primary: var(--purple);
    --surface: var(--dark-black);
    --surface-subtle: var(--dark-black);
}
