@import "./light.css";
@import "./dark.css";

@theme inline {
    --font-poppins: "Poppins", sans-serif;

    --color-white: var(--white);
    --color-ice-white: var(--ice-white);
    --color-grey: var(--grey);
    --color-black: var(--black);
    --color-dark-black: var(--dark-black);
    --color-darker-black: var(--darker-black);

    --color-orange: var(--orange);
    --color-dark-orange: var(--dark-orange);
    --color-darker-orange: var(--darker-orange);

    --color-red: var(--red);
    --color-dark-red: var(--dark-red);
    --color-darker-red: var(--darker-red);

    --color-green: var(--green);
    --color-dark-green: var(--dark-green);
    --color-darker-green: var(--darker-green);

    --color-yellow: var(--yellow);
    --color-dark-yellow: var(--dark-yellow);
    --color-darker-yellow: var(--darker-yellow);

    --color-blue: var(--blue);
    --color-dark-blue: var(--dark-blue);
    --color-darker-blue: var(--darker-blue);

    --color-dark-navy: var(--dark-navy);

    --color-light-teal: var(--light-teal);
    --color-teal: var(--teal);
    --color-dark-teal: var(--dark-teal);

    --color-light-purple: var(--light-purple);
    --color-purple: var(--purple);
    --color-dark-purple: var(--dark-purple);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-contrast: var(--primary-contrast);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-variant: var(--primary-variant);
    --color-surface: var(--surface);
    --color-surface-subtle: var(--surface-subtle);
    --color-overlay-sm: var(--overlay-sm);
    --color-overlay-md: var(--overlay-md);
}
