/* Mode default/terang */
:root {
    /* Palet warna */
    --grey: #6B6B6B;
    --black: #242424;
    --dark-black: #1F1F1F;

    --white: #F6F6F6;
    --dark-white: #E0E0E0;

    --orange: #FF9900;
    --dark-orange: ##E2A200;
    --darker-orange: #D28900;

    --red: #E80000;
    --dark-red: #D40000;
    --darker-red: #AC0000;

    --green: #3EEE04;
    --dark-green: #2B8764;
    --darker-green: #429E04;

    --yellow: #F4C701;
    --dark-yellow: #DDB400;
    --darker-yellow: #C09E04;

    --blue: #06A7FF;
    --dark-blue: #0386CE;
    --darker-blue: #016297;

    --light-teal: #04F3D5;
    --teal: #03B29D;
    --dark-teal: #03C6AE;

    --light-purple: #9720F3;
    --purple: #802EC0;
    --dark-purple: #682E96;

    /* Warna berdasarkan fungsi */
    --background: white;
    --foreground: black;
    --primary: var(--purple);
}
