/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@mdxeditor/editor/style.css";
@import "./assets/css/themes";

@layer base {
  @import "react-datepicker/dist/react-datepicker.css";
  @import "react-loading-skeleton/dist/skeleton.css";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Poppins, system-ui, Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100svh;
    overflow: hidden;
  }

  #root {
    width: 100vw;
    height: 100svh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 8px;
  }

  button {
    cursor: pointer;
  }

  /* Menyembunyikan tombol lihat password pada browser Edge */
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }

  select {
    appearance: base-select;

    option {
      @apply bg-background text-foreground;
    }
  }
}

@layer components {
  @import "./assets/css/components/switch.css";
  @import "./assets/css/components/popover.css";
  @import "./assets/css/components/dialog.css";
  @import "./assets/css/components/button.css";
  @import "./assets/css/components/pagination.css";
  @import "./assets/css/components/datepicker.css";

  .navlink.active {
    @apply bg-primary hover:bg-primary/80 text-white;
  }

  .navlink:not(.active):hover {
    @apply bg-overlay-md;
  }

  .sidebar {
    @apply bg-surface-subtle flex h-full flex-col justify-stretch overflow-x-clip overflow-y-auto transition-all;

    & > nav > * {
      & {
        @apply flex items-center gap-2 rounded-2xl p-2 text-left text-sm text-nowrap;
      }

      & > svg {
        @apply h-5 shrink-0;
      }

      &.navlink.active:hover {
        @apply bg-primary;
      }
    }
  }

  .content-wrapper {
    @apply m-auto max-w-4xl p-8;
  }

  .content-wrapper-wide {
    @apply m-auto max-w-6xl p-8;
  }

  .input {
    @apply bg-surface! text-foreground relative flex h-13 w-full items-center gap-4 rounded-xl! p-4 text-sm *:outline-none;

    &:has(textarea) {
      @apply h-fit;
    }

    input,
    select,
    textarea {
      @apply flex-1 transition-all;
    }

    &:has(label) {
      input,
      textarea {
        @apply not-placeholder-shown:translate-y-1;
      }
    }

    &.error {
      @apply outline-red outline;
    }

    label {
      @apply bg-surface-variant absolute -top-2 left-3 rounded-full px-4 text-sm leading-snug opacity-100 transition-all peer-placeholder-shown:opacity-0;
    }

    &.error > label {
      @apply bg-red;
    }

    .icon {
      @apply h-5;
    }

    & + .error-message {
      @apply text-red px-4 pt-1 text-sm;
    }
  }

  .user-select-container {
    @apply w-full p-4 text-left text-sm;

    table {
      @apply w-full border-separate border-spacing-y-2;
    }

    td,
    th {
      @apply px-4 py-2;
    }

    td {
      @apply bg-overlay-sm first:rounded-l-xl last:rounded-r-xl;
    }
  }

  .table {
    @apply w-full text-sm;

    thead {
      @apply bg-primary text-white;
    }

    th {
      @apply p-4;
    }

    tr {
      @apply overflow-hidden;
    }

    td:first-child,
    th:first-child {
      @apply rounded-l-2xl;
    }

    td:last-child,
    th:last-child {
      @apply rounded-r-2xl;
    }

    tbody {
      @apply dark:text-gray-200;
    }

    tr:not(:first-child) {
      @apply border-surface border-t;
    }

    tr:hover td {
      @apply bg-overlay-sm;
    }

    td {
      @apply p-4;
    }
  }
}

@layer utilities {
  .scrollbar-hidden {
    -webkit-scrollbar: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Horizontal rule */
  .h-rule {
    @apply border-surface border-b-3 pb-2;
  }
}
