/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "./assets/css/themes";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Poppins, system-ui, Helvetica, Arial, sans-serif;
        background-color: var(--color-background);
        color: var(--color-foreground);
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100svh;
        overflow: hidden;
    }

    #root {
        width: 100vw;
        height: 100svh;
        overflow-y: scroll;
    }

    button {
        cursor: pointer;
    }

    /* Menyembunyikan tombol lihat password pada browser Edge */
    input::-ms-clear,
    input::-ms-reveal {
        display: none;
    }

    a.active,
    a.active:hover {
        @apply bg-primary text-white;
    }
}

@layer components {
    .sidebar {
        @apply bg-surface-subtle flex h-full flex-col justify-stretch overflow-x-clip overflow-y-auto transition-all;

        & > nav > * {
            & {
                @apply flex items-center gap-2 rounded-2xl p-2 text-left text-sm text-nowrap;
            }

            & > svg {
                @apply h-5 shrink-0;
            }

            &:not(.active):hover {
                @apply bg-overlay-md;
            }
        }
    }

    .switch-root {
        @apply data-[state=checked]:bg-primary bg-surface h-6 w-11 rounded-full p-1 shadow-sm transition-all duration-200;
    }

    .switch-thumb {
        @apply block h-4 w-4 rounded-full bg-white shadow transition-transform duration-200 data-[state=checked]:translate-x-5;
    }

    .input {
        @apply bg-surface text-foreground w-full rounded-xl p-4 text-sm;
    }

    .button {
        @apply bg-primary hover:bg-primary-variant flex items-center justify-center gap-2 rounded-xl px-8 py-2 font-bold text-white;
    }

    .popover-content {
        @apply bg-background rounded-lg p-1 shadow-md;
    }

    .popover-button {
        @apply hover:bg-overlay-md flex w-full items-center gap-2 rounded p-2 text-left text-sm;
    }
}

@layer utilities {
    .scrollbar-hidden {
        -webkit-scrollbar: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Horizontal rule */
    .h-rule {
        @apply border-surface border-b-3 pb-2;
    }
}
