@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-poppins: "Poppins", sans-serif; 

  --color-background: var(--background);
  --color-foreground: var(--foreground);
} 

/* Mode default/terang */
:root {
  /* Palet warna */
  --grey: #6B6B6B;
  --black: #2A2A2A;
  --dark-black: #1A1A1A;
  --darker-black: #181818;

  --orange: #FF9900;
  --dark-orange: ##E2A200;
  --darker-orange: #D28900;

  --red: #E80000;
  --dark-red: #D40000;
  --darker-red: #AC0000;

  --green: #3EEE04;
  --dark-green: #2B8764;
  --darker-green: #429E04;

  --yellow: #F4C701;
  --dark-yellow: #DDB400;
  --darker-yellow: #C09E04;

  --blue: #06A7FF;
  --dark-blue:

  /* Warna berdasarkan fungsi */
  --background: white;
  --foreground: black;
}

/* Mode gelap */
.dark {
  /* Warna berdasarkan fungsi */
  --background: black;
  --foreground: white;
}

@layer base {
  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    min-width: 100vw;
    min-height: 100vh;
  }
}

@layer components {
  .text-input {
    @apply border-black border-1 px-4 py-2 w-full;
  }

  .button {
    @apply rounded-xl bg-sky-400 w-fit text-white px-8 py-2 font-bold;
  }
}
